<%= @boot.name %>
<% default = @projects.length + 1 %>
<form>
  <% @projects.shuffle.each do |project| %>
    <div class='choice'>
      <select
        name=<%= 'projects[%d]' % project.id %>
        value=<%= @preferences[project.name] || default %>
      >
        <option value = <%= default %>><%= default %></option>
        <% @projects.length.times do |int| %>
          <option value = <%= int+1 %>><%= int+1 %></option>
        <% end %>
      </select>
      <span>name: <%= project.name %> </span>
      <span>proposed by: <%= project.boot.name %></span>
      <span>description: <%= project.description %></span>
    </div>
  <% end %>
  <input type='submit' value='vote'>
</form>
